.slogan {
    letter-spacing: 0.5rem;
    text-align: center;
    background-image: linear-gradient(
      -225deg,
      #0ecec5 0%,
      #3b7cd6 29%,
      #5911a7 67%,
      #cf1d8b 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .feat-card {
    margin: 1.5em 0 1.5em 0;
    padding: 2em;
    align-content: center;
    justify-content: center;
  }
  .featTitle {
    color: white;
    background-color: rgba(0, 0, 0, 0.112);
    letter-spacing: 2px;
    margin-bottom: 2em;
  }
  .feat-card-1 {
    background: url('https://horciong.sirv.com/bannerbg1.jpg');
    background-size: cover;
    background-position: center;
  }
  .feat-card-2 {
    background: url('https://horciong.sirv.com/bannerbg2.jpg');
    background-size: cover;
    background-position: center;
  }
  .featAvatar {
    height: 20em;
    width: 20em;
    background-color: blue;
  }