.responsive {
   max-width: auto;
   height: 100%;
}

.card {
   max-width: 25%;
   height: auto;
   position: relative;
   cursor: pointer;

   @media (max-width: 980px) {
      max-width: 33%;
   }
}

.card-info-1 {
   font-size: 1.1rem;
   text-align: center;
}

.boldish {
   font-weight: 500;
}

.overlay {
   height: 140%;
   display: flex;
   justify-content: center;
}

.button-holder {
   display: flex;
   gap: 5px;
   justify-content: center;
}

button {
   width: fit-content;
   height: 25px;
   padding: 2px 5px 2px 5px;
   text-align: center;
   display: flex;
   align-content: center;
   font-size: 14px;
}

.size-button {
   background-color: rgb(255, 251, 251);
   color: black;

   &:hover,
   &:focus {
      background-color: rgb(0, 0, 0);
      color: white;
   }
}

.add-button {
   margin-top: 15px;
   background-color: rgb(32, 32, 32);

   &:hover {
      background-color: rgb(70, 70, 70);
   }
}